MAILERSEND_SMTP_USERNAME=""
MAILERSEND_SMTP_PASSWORD=""
MAILERSEND_FROM_EMAIL=""

# Chave utilizada para assinar os tokens de sessão
AUTH_SECRET=""

# URL base da aplicação (utilizada em links gerados no servidor)
APP_URL="http://localhost:3000"
